<!DOCTYPE html>
<html>
<head>
  <title>Platzi Blog - API</title>
</head>
<body>
  <script src="https://cdn.auth0.com/js/auth0/9.5.1/auth0.min.js"></script>
  <script>
    window.addEventListener('load', function() {

      var webAuth = new auth0.WebAuth({
        domain: '<%= Rails.application.credentials.auth0[:domain] %>',
        clientID: '<%= Rails.application.credentials.auth0[:client_id] %>',
        responseType: 'token id_token',
        scope: 'openid profile email',
        redirectUri: 'https://jwt.io'
      }); 

      webAuth.authorize();
    });
  </script>
</body>
</html>
